span {
  padding: 10px;
}
.dropdown-toggle {
  width: 100%;
}
.dropdown-menu {
  width: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.inner {
  padding: 12px;
}

.dropstart {
  border-radius: 50% !important;
}

.btn-warning {
  border-radius: 50% !important;
}
.bx {
  font-size: x-large;
}
.bx:hover {
  color: #eed202;
}
.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.mod {
  margin-left: 40%;
}
