.container-fluid {
  width: 500px;
  text-align: center;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255),
    0em 0.3em 1em 0.3em rgba(0, 0, 0, 0.3);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
  margin-top: 0.5%;
}

/* .group{
    border-top: 2px solid gray;
    padding-top: 15px;
    border-radius: 5px;
} */
.head {
  color: #1877f2;
  font-size: 1.8em;
  font-weight: bold;
}
.valid {
  border-color: #1877f2;
}

.form-group {
  padding: 10px;
}
form {
  width: 100%;
}
.btn {
  width: 70%;
}

.btn {
  background-color: #1877f2 !important;
}
label {
  float: left;
}
small {
  float: right;
}
.signup {
  text-align: center;
  padding: 5%;
  width: 100%;
}
.submit {
  width: 100%;
  padding: 3%;
}
.btn-success {
  background-color: #42b72a !important;
}
button {
  padding: 14px;
  border-radius: 10px;
}
input {
  border-radius: 10px;
}
.group {
  display: flex;
}
.flex-item {
  flex: 1 50%;
  padding: 2px;
}

.match {
  border-color: #1ff218;
}
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.pass-strength {
  /* float: left; */
  margin-left: 5px;
}

/* .pass-grp{
      margin-top: 2% !important;
  } */
