<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>
        <div *ngIf="showSuccess" class="alert alert-success" role="alert">
            Your password has been reset. Please <a [routerLink]="['/login']"> click here to log in. </a>
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{errorMessage}}<a [routerLink]="['/forgetpassword']"> click here to try again. </a>
        </div>
        <form [formGroup]="ResetPasswordForm" autocomplete="off" novalidate *ngIf="!showSuccess && !showError"
            (ngSubmit)="resetPassword(ResetPasswordForm.value)">

            <div class="form-floating mb-2 ">
                <input name="Password" type="Password" placeholder="Password" formControlName="Password"
                    id="floatingInputPass" class="form-control input-lg"
                    [class.is-invalid]="Password?.invalid && Password?.touched" [class.valid]="Password?.valid">
                <label for="floatingInputPass">Password</label>
                <div *ngIf="Password?.invalid && Password?.touched">
                    <small class="text-danger" *ngIf="Password?.hasError('required')">Password is required</small>
                    <small class="text-danger" *ngIf="Password?.hasError('pattern')">Password is Weak</small>
                </div>
                <span class="pass-strength">
                    <ng9-password-strength-bar [passwordToCheck]="Password?.value" [barLabel]="barLabel"
                        [customThresholds]="thresholds" [barColors]="myColors" [strengthLabels]="strengthLabels">
                    </ng9-password-strength-bar>
                </span>
            </div>

            <div class="form-floating mb-2 pass-grp">
                <input type="Password" placeholder="ConfirmPassword" formControlName="confirmPassword"
                    id="floatingInputConf" class="form-control input-lg"
                    [class.is-invalid]="ConfirmPassword?.invalid && ConfirmPassword?.touched"
                    [class.match]="ConfirmPassword?.valid &&  ConfirmPassword?.touched && !ConfirmPassword?.hasError('confirmPasswordMatch')">
                <label for="floatingInputConf">Confirm Password</label>
                <div *ngIf="ConfirmPassword?.invalid && ConfirmPassword?.touched">
                    <small class="text-danger" *ngIf="ConfirmPassword?.hasError('required')">Required</small>
                    <small class="text-danger" *ngIf="ConfirmPassword?.hasError('confirmPasswordMatch')">Password Does
                        Not Match</small>
                </div>
            </div>

            <div class="card-body">
                <div class="col-md-1">
                    <button type="submit" class="btn btn-info" [disabled]="!ResetPasswordForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>