.input-width{
    width: 400px;
}
.alert{
    width: 800px;
    margin: auto 0;
    margin-left: 100px;

}
.card-title{
    padding-bottom: 5px;
}
.col-2{
    padding-top: 5px;
}
.btn{
    padding: 10px;

}
.card{
    align-items: center;
}