.container-fluid {
  width: 500px;
  text-align: center;
  padding: 50px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255),
    0em 0.3em 1em 0.3em rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 6%;
}
.head {
  color: rgb(126, 126, 126);
  font-size: 1.4em;
  font-weight: bold;
}
.valid {
  border-color: #1877f2;
}

.form-group {
  padding: 10px;
}
form {
  width: 100%;
}
.btn {
  width: 70%;
}

.btn {
  background-color: #1877f2 !important;
  border-radius: 50px;
  font-size: large;
  /* color:rgba(255, 255, 255, 0.658); */
}
label {
  float: left;
}
small {
  float: right;
}
.signup {
  text-align: center;
  padding: 5%;
  width: 100%;
}
.submit {
  width: 100%;
  border-bottom: 2px solid gray;
  padding: 5%;
  padding-bottom: 10%;
}
.btn-success {
  background-color: #42b72a !important;
}
button {
  padding: 14px;
  border-radius: 10px;
}
input {
  border-radius: 10px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

h2 {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
}

h2 span {
  background: rgb(255, 255, 255);
  padding: 0 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
.inner {
  padding: 12px;
}
